body{

background-color: green;


margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.contenedor{
font-size: 1em;   
/* calcula el tamao del padre y se adapta */
background-color: white;
height: 85px;
width: 75px;
border-radius: 5px;


position: relative;
display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
/* transform: scale(0.5);  */

margin-top: 40px;
margin-right: 40px;
         


}

.divsup{
    position: absolute;
    top: 0%;
left: 4%;



}


.divcentral{
    text-align: center;
    
 /* position: absolute;
top:31% ;
left: 40%; */
}

.divinf{
    
    position: absolute;
    right:  4%;
bottom: 4%;

    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);

}

.linea1{
  /* background-color: red; */
  padding: 0;
  

}

    #original{

        font-size: 20px;
    }

    .linea2{
        display: flex;
    }

    .linea3{
        display: block;
    }


   


